<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>


<% if admin_signed_in? %>
<p> ADMIN está logado </p>
<%= current_admin.email%>
<% else %>
<p> ADMIN NÃO está logado </p>
<% end %>


<% if user_signed_in? %>
<p> usuario está logado </p>
<%= current_user.email%>
<% else %>
<p> usuario NÃO está logado </p>
<% end %>